#cloud-config
users:
  - default
  - name: k8s
    groups: wheel, sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
      - {{ lookup('ansible.builtin.file', public_key_path ) }}
