---
master:
  hosts:
    master-1:
      ansible_host: 192.168.0.150
  vars:
    ansible_user: k8s
    private_key: /home/owen/.ssh/id_rsa


workers:
  hosts:

  vars:
    ansible_user: k8s
    private_key: /home/owen/.ssh/id_rsa

local:
  hosts:
    localhost:
      ansible_host: 127.0.0.1